.Abc {
background-color: black;
 color: rgb(161, 24, 24);
}
.menu{
    background: black;
    height: 100vw;
}
.logodiv{
    margin-bottom: 40px;
    font-size: 20px;
    margin-top: 0px;
    
}
#logo{
    height:50px;
    width:90px;
    margin: 15px 0px 0px 15px;
}
.fa-bars{
    margin: 30px 0px 0px 30px;
    
}
.sidebar ul{
    color: white;
    list-style: none;
    margin: 0;
    font-size: 17px;
    padding-left: 10px;
}
.sidebar ul li{
    margin: 0px 0px 20px 20px;
    padding: 10px;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.sidebar ul li:hover{
    background-color: #282c34;
}
.content{
    background:white;
    height: 100vw;
    
}
.header{
    height: 50px;
    
    margin-right: 10px;
}
.sidebar ul li {
    color:white
}
.Listmenu{
    text-decoration: none;
}

/* .dummy
{
    dummy
} */